body {
    background: #e2e2e2;
}

h1 {
    font-family: 'Passion One';
}

.parse {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    background-color: #7CA0C7;
    font-weight: bold;
}